<div class= "row well">
  <div class = "col-md-6">
    <h2>Our Work</h2><hr>
    <p>We develop cutting edge, dynamic and interactive web and mobile applications that can become the strength of any enterprise. 
    </p><br><p>We deliver you an easily readable and maintainable code.
    </p><br>    
    <p>You get a superior user friendly interface.
    </p><br>       
        <p>Our Applications are compatible to multiple browsers and interfaces thereby reducing the amount of time taken in loading and providing a good experience to the users.
      </p><br>
    <p>Join hands with us and <b>Get It Done.</b></p>
  </div>
  <div class = "col-md-6">
    <img [src]="fullImagePath" width="100%" height="90%"/>
  </div>    
</div>