<div class= "row well">
  <div class = "col-md-6">
    <h2>About Us</h2><hr>
    <p>In the current world, business successes depends on how a customer sees its products online, On web or in App. Besides 
      providing all the information, a good design and an interative user experience is also very important. Branding is very much helped by a good
      UI on its website and it's app. 
    </p><br><p>To help you in this situation, we act as an Aegis. We get all your such needs fulfilled with complete satisfaction.
    </p><br>    
    <p>Be it a simple site, a blog or an e-commerce site, we get them designed and developed as per your expectations.
    </p><br>       
        <p>We use all the latest trends and technologies to make an attractive UI to make a good customer experience.
      </p><br>
    <p>Join hands with us and <b>Get It Done.</b></p>
  </div>
  <div class = "col-md-6">
    <img [src]="fullImagePath" width="100%" height="90%"/>
  </div>    
</div>