<div class = "container-fluid">
  <div class = "well"><h2>Do You have a business of your own? </h2></div>
  <img [src]="fullImagePath" width="100%"/>
  <!--div [ngStyle]="{'background-image': 'url(' + fullImagePath + ')'}"-->
  <div [style.background-image]="'url(' + fullImagePath + ')'">
    <div class = "card">
      <h3>Want an attractive website or an App for it?</h3>
      <h3>Join hands with us and get all your web and mobile Solutions fulfilled!</h3>
      <h3>Get high quality, latest and interactive web and mobile solutions to suit all type of businesses!</h3>
    </div>
  </div>
</div>