<h3 style="text-align: center">Request A Site/App</h3><hr>
<div class="row">  
  <div class="col-md-2"></div>
 <div class="col-md-8">    
  <div style="position:relative; height: 60%; width: 100%;">
    <form [formGroup]= "ngForm" (ngSubmit)="onSubmitBooking(ngForm.value)">
      <div class = "form-group">
        Name:<input class="form-control" type="text" formControlName="name" placeholder="Your Name" autofocus required >
      </div>
      <div class = "form-group">  
        Email:<input class="form-control" type="email" formControlName="email" placeholder="Your Email ID" autofocus required >
      </div>
      <div class = "form-group">  
        Phone:<input class="form-control" type="phone" formControlName="phone" placeholder="Your Phone Number" autofocus required >
      </div>
      <div class = "form-group">
        Address:<textarea class="form-control" rows="3" type ="textarea" formControlName="add" placeholder="Your Address" required ></textarea>
      </div>
      <div class = "form-group">
        Type of Site/App(Short Description):<textarea class="form-control" rows="5" type="textarea" formControlName="work" placeholder="Type of site/app..." required ></textarea>
      </div>
    <div class="form-group"><button class="btn btn-success btn-block" type="submit">Send</button></div>
    </form>
   </div>
  <!--div style="text-align: center;" [hidden]="!form.submitted"><h3>Thanks for your Request. We will get back to you shortly!  </h3><a routerLink = "/home" routerLinkActive = "active"><h3>Go Back to Home Page!</h3></a>
  </div-->    
</div></div>
